*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    width: 360px;
    border-radius: 12px;
    background-color: #F7F6FA;;
}

.item__heading{
    position: relative;
}

.item__heading-tag{
    position: absolute;
    top: 16px;
    left: 16px;
    width: 76px;
    height: 24px;
    background-color: #2A282F;
    border-radius: 4px;
}

.item__heading-time{
    color: #FFFFFF;
    font-weight: 500px;
    font-size: 13px;
    line-height: 15.73px;
    padding: 4px 8px;
}

.item__body{
    width: 360px;
    height: 217px;
    padding: 16px;
}

.item__content-title{
    font-weight: 600;
    font-size: 24px;
    line-height: 29.05px;
    color: #2A282F;
}

.item__content-text{
   font-weight: 400;
   font-size: 16px;
   line-height: 19.36px;
   color: #625F68;
   margin-top: 8px;
}

.item__content-time{
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    color: #A8A6AC;
    margin-top: 8px;
}

.item__icon{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

